@font-face {
	font-family: Titillium-Regular;
	src: url("/fonts/Titillium-Regular.otf") format("opentype");
}

@viewport {
	width: device-width;
	zoom: device-zoom;
	max-zoom: 4;
}

.lyrics {
	font-size: .7em;
	font-style: italic;
}

blockquote {
	margin-left: 1em;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	list-style-type: none;
	margin: .25em;
	padding: 1px;
}
body {
	background: #9c6b47;
	color: #333;
	font-family: Titillium-Regular, sans-serif;
	font-weight: 500;
}
hr {
	border: 1px solid #9c6b47;
}
p {
	margin: .25em;
	padding: 1px;
}
.centerWrapper {	/* wraps everything */
	 display: grid;
	 grid-template-columns: minmax(auto, 1500px);
	justify-content: center;
}

.container {	/* grid container */
  display: grid;
	grid-template-columns: 200px auto;
  grid-template-areas:
		"nav content";
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;
}
.panelContainer {	/* grid container */
  display: grid;
	grid-template-columns: auto auto;
  grid-template-areas:
		"panel panel";
  grid-template-rows: auto 1fr auto;
  grid-gap: 3px;
}
.panel {
}

.image {
	width: 100%;
	height: 100%;
	layout: fill;
}

.albums {
	text-align: center;
}
.sectionHeader {
	margin-bottom: 10px;
	margin-top: 10px;
	padding: 4px;
	background: #333;
	color: #eee;
	text-align: center;
	font-size: 1.25rem;
	font-weight: 600;
}
.navTopper, .mainTopper {
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	background: #333;
	text-align: center;
	font-weight: 900;
	color: white;
	font-size: 1.5rem;
  grid-area: topper;
	max-height: auto;
	padding: 4px;
}
.nav {	/* the navigation */
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: #fbfdbc;
  grid-area: nav;
	border: 1px solid;
}
.nav li:nth-last-child(1) {
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav ul {
	margin-top: 0px;
	list-style-type: none;
	padding: 0.5rem;
}
.navInactive {	/* no caret, but space */
	width: 0;
	height: 0;
	display: inline-block;
	border: 4px solid transparent;
}
.navActive {	/* add the caret */
	width: 0;
	height: 0;
	display: inline-block;
	border: 4px solid transparent;
	border-left-color: black;
}

.main {	/* the content */
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: #fbfdbc;
	padding: 1rem;
  grid-area: content;
	border: 1px solid;
}

@media (max-width: 750px) {
  .container {
    grid-template-areas:
      "nav"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(750px, auto) /* Nav */
  }

	.nav li { /* turn list into horizontal items */
		display: inline-block;
		padding: 10px;
	}
	.nav li:not(:nth-last-child(1)):after {
	}
}

@media (max-width: 1000px) {
  .panelContainer {
    grid-template-areas:
      "panel"
      "panel";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto
      auto
  }
}
.news.tags {
	display: none;
}
.news.tag {
	display: none;
}
a[target="new"]:after {
	content: url(/images/external-link-ltr-icon.svg);
	background-position: center right;
	background-repeat: no-repeat;
	padding-left: 5px;
}
a[target="new"] {
	display: inline-block;
	max-width: 380px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top
}
a[target="new"]:hover {
  overflow: visible;
}

.hilite {
	text-align: center;
}
.mp3:before {
	content: url(/images/iconMP3.gif);
	background-position: center left;
	background-repeat: no-repeat;
	padding-right: 5px;
}
.audio {
	margin-left: -15px;
	width: 100%;
}
.audio.title {
}
.audio.time {
}
.audio.date {
}
.audio.comment {
}
.player {
	list-style-type: none;
	margin: 5px;
	margin-left: 10px;
	padding: 5px;
}
.title {
	font-style: italic;
	display: inline;
	color: #333;
	font-weight: 600;
	font-size: 1.3em;
}
.details {
	display: block;
	margin-left: 5px;
	color: #aaa;
	font-size: .8rem;
}
.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.original {	/* offsite link */
	text-color: #888;
}

.moe {
	margin: 1em;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 10px 10px 10px 10px;
	line-height: 1.4;
}
.moe::before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -5px;
	position: relative;
	top: 20px;
	color: #ccc;
	font-size: 3em;
}
.moe::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 5px;
	position: relative;
	top: 20px;
	color: #ccc;
	font-size: 3em;
}
.date {
	color: #333;
}
.played {
	font-size: 0.8em;
	color: #999;
}
.date.ago {
	font-size: 0.8em;
	margin-left: .5em;
	color: #999;
}
.date.ago::before {
	content: " (";
}
.date.ago::after {
	content: ") ";
}
.source {
	font-size: 0.8em;
	color: #999;
}
.contact {
	margin-left: 5px;
	link-color: #666;
}
.addendum.artist {
	font-weight: 900;
}
.addendum.title::before {
	content: " - ";
}
.addendums ul {
	margin: 0em;
}
.addendum ul {
	margin: 1em;
}
.addendums li {
	list-style-type: none;
}
.addendum li {
	list-style-type: square;
}
.single {
	margin: 0;
	padding: 2px;
}
.single.sideA {
	margin-left: 1em;
	font-size: 0.8em;
}
.single.sideB {
	margin-left: 1em;
	font-size: 0.8em;
}
.single.cover {
	width: 60px;
	height: 60px;
	margin-right: 5px;
}
.single.details {
}
.artist {
	font-weight: 400;
	font-size: 1.2em;
}
.addendum.subject {
	display: block;
	margin-bottom: 4px;
	list-style-type: none;
}
.header {
	margin: 10px;
}
.datum {
	display: inline;
	color: blue;
}
.album.cover {
	padding: 1px;
}
.row {
	border: 1px solid #888;
	border-radius: 20px;
	margin: .5em;
	padding: .5em;
	padding-left: 15px;
}
.release.time {
	display: inline;
}
.release.year {
	margin-top: 10px;
}
.release.teaser {
	color: red;
	font-weight: 900;
}
.who {
	font-weight: bold;
}
.chart {
	width: 90%;
}

.attribution {
	border-color: green;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel-wrapper * {
  box-sizing: border-box;
}

.carousel {
  transform-style: preserve-3d;
}

.carousel__photo {
  opacity: 0;
  position: absolute;
  top:0;
  left: -.5em;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  transition: transform .5s, opacity .5s, z-index .5s;
}

.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}
.carousel__photo.prev {
  transform: translateX(-100%); /* Move 'prev' item to the left */
}
.carousel__photo.next {
  transform: translateX(100%); /* Move 'next' item to the right */
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top: 230px;
  width: 3rem;
  height: 3rem;
  background-color: #fff8f8;
  transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer; 
  z-index: 1001; /* Sit on top of everything */
  border: 1px solid black;
}
.carousel__button--prev {
  left:100;
}
.carousel__button--next {
  right:0;
}
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  transform: translate(-50%, -50%) rotate(135deg);
}
.carousel__button--next::after {
  left: 47%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.card {
	float: left;
}

