blockquote {
	margin-left: 1em;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	margin: 0px;
	padding: 1px;
}
body {
	background: #9c6b47;
	color: #333;
	font: normal 15px Verdana, Arial, sans-serif;
}
p {
	margin: .25em;
}
.centerWrapper {	/* wraps everything */
	 display: grid;
	 grid-template-columns: minmax(auto, 1020px);
	justify-content: center;
}

.container {	/* grid container */
  display: grid;
	grid-template-columns: 200px auto;
  grid-template-areas:
		"nav content";
  grid-template-rows: auto 1fr auto;
  grid-gap: 0px;

  /height: 100vh;
}
.albums {
	text-align: center;
}
.sectionHeader {
	margin-bottom: 5px;
	padding: 2px;
	background: #333;
	color: #fff;
	text-align: center;
	font-size: .8rem;
}
.navTopper, .mainTopper {
	border-top-right-radius: 18px;
	border-top-left-radius: 18px;
	background: black;
	text-align: center;
	font-weight: 900;
	color: white;
  grid-area: topper;
	max-height: auto;
	padding: 1px;
}
.nav {	/* the navigation */
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: #fbfdbc;
  grid-area: nav;
	border: 1px solid;
}
.nav li:nth-last-child(1) {
	margin-top: 10px;
	margin-bottom: 10px;
}
.nav ul {
	margin-top: 0px;
	list-style-type: none;
	padding: 0.5rem;
}
.navInactive {	/* no caret, but space */
	width: 0;
	height: 0;
	display: inline-block;
	border: 4px solid transparent;
}
.navActive {	/* add the caret */
	width: 0;
	height: 0;
	display: inline-block;
	border: 4px solid transparent;
	border-left-color: black;
}

.main {	/* the content */
	border-bottom-left-radius: 18px;
	border-bottom-right-radius: 18px;
	background: #fbfdbc;
	padding: 1rem;
  grid-area: content;
	border: 1px solid;
}

@media (max-width: 750px) {
  .container {
    grid-template-areas:
      "nav"
      "content";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto /* Header */
      minmax(750px, auto) /* Nav */
  }

	.nav li { /* turn list into horizontal items */
		display: inline-block;
	}
	.nav li:not(:nth-last-child(1)):after {
		content: ' - ';
	}
}
.news.item {
	//margin-top: 20px;
	padding-bottom: 20px;
	list-style-type: none;
	//border-top: 1px solid;
}
.news.item.first {
	//border-top: 0px solid;
}
.news.item:nth-of-type(even){
	//background: #fee;
}
.news.item:nth-of-type(odd){
	//background: #eff;
}
.news.author {
	margin-top: 10px;
	color: #999;
}
.news.title {
	font-weight: 900;
}
.news.body {
}
.news.date {
	display: inline-block;
	color: #999;
}
.news.tags {
	display: none;
}
.news.tag {
	display: none;
}
a[target="new"]:after {
	content: url(/images/external-link-ltr-icon.svg);
	background-position: center right;
	background-repeat: no-repeat;
	padding-left: 5px;
}
.hilite {
	text-align: center;
	background: #fff;
}
.mp3:before {
	content: url(/images/iconMP3.gif);
	background-position: center left;
	background-repeat: no-repeat;
	padding-right: 5px;
}
.audio {
	width: 100%;
}
.audio.title {
}
.audio.time {
}
.audio.date {
}
.audio.comment {
}
.player {
	list-style-type: none;
	margin: 5px;
	margin-left: 10px;
	padding: 5px;
}
.title {
	display: inline;
}
.details {
	display: block;
	margin-left: 5px;
	color: #aaa;
	font-size: .8rem;
}
.video {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.original {	/* offsite link */
	text-color: #888;
}

a[target="new"] {
	display: inline-block;
	max-width: 500px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top
}

.moe {
	margin: 1em;
	quotes: "\201C""\201D""\2018""\2019";
	padding: 20px 50px 20px 50px;
	line-height: 1.4;
}
.moe::before {
	content: open-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: -20px;
	position: relative;
	top: 20px;
	color: #ccc;
	font-size: 3em;
}
.moe::after {
	content: close-quote;
	display: inline;
	height: 0;
	line-height: 0;
	left: 5px;
	position: relative;
	top: 20px;
	color: #ccc;
	font-size: 3em;
}
.date {
	color: #333;
}
.date.ago {
	font-size: 0.8em;
	color: #999;
}
.date.ago::before {
	content: " (";
}
.date.ago::after {
	content: ") ";
}
.contact {
	margin-left: 5px;
	link-color: #666;
}
.lyrics {
	font-style: italic;
}
.addendum.artist {
	font-weight: 900;
}
.addendum.title::before {
	content: " - ";
}
.addendums ul {
	margin: 0em;
}
.addendum ul {
	margin: 1em;
}
.addendums li {
	list-style-type: none;
}
.addendum li {
	list-style-type: square;
}
.single {
	margin: 0;
	padding: 2px;
}
.singles li:nth-of-type(even) {
	background-color: #ddd;
}
.singles li:nth-of-type(odd) {
	background-color: #eee;
}
.singles li {
	display: flex;
	border-radius: 10px;
	list-style-type: none;
	margin-bottom: 5px;
}
.single.sideA {
	margin-left: 1em;
	font-size: 0.8em;
}
.single.sideB {
	margin-left: 1em;
	font-size: 0.8em;
}
.single.cover {
	width: 60px;
	height: 60px;
	margin-right: 5px;
}
.single.details {
}
.artist {
	font-weight: 900;
}
.addendum.subject {
	display: block;
	margin-bottom: 4px;
	list-style-type: none;
}
.header div {
	padding: 5px;
}
.datum {
	display: inline;
}
.album.cover {
	padding: 1px;
}
.row:nth-of-type(odd) {
	background-color: #eee;
}
.row:nth-of-type(even) {
	background-color: #ddd;
}
.player li:nth-of-type(odd) {
	background-color: #ccc;
}
.player li:nth-of-type(even) {
	background-color: #ddd;
}
.release.sides{
	margin-top: 10px;
	display: flex;
}
.release.panel {
	width: 50%;
}
.release.time {
	display: inline;
}
.release.year {
	margin-top: 10px;
}
.release.teaser {
	color: red;
	font-weight: 900;
}
.track.datum {
	color: blue;
}
